
@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: #aa2345;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color:black;
  font-family: monospace;
	font-style: oblique;
	
}

.navigation a{
	
 font-size:150%; 
	
	
}


.web/browser01 img{
	
	align-content: center;
	width: 200px;
	height: 200px;
	
}










.CM01 img{
    
    height: 255px;
    width: 255px;   
}

.CreativeMultimedia01
{
    
    background-color: bisque;
    display: flex;
	align-items: center;
  	justify-content: center;
	  
}


       .CM01{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

#CMPPintro h2{
	
	text-align: center;
}


#CMPPintro{
	
	background-color: gold;
	padding-left: 25px;
	padding-right: 25px;
	
}

.CreativeMultimedia01

{
	background-color: azure;	
	
	
}
	.moduleshome {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
	padding-right: 25px;
	padding-left: 25px;
}


.moduleshome {
  max-width: 1200px; 
  margin: 10px auto 30px;
  background-color: darkgrey;
}


@media (max-width: 600px) {
    .moduleshome {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


@media (max-width: 300px) {
    .moduleshome {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.moduleshome a{
	
text-decoration: none;
				
}
    
.moduleshome p{
	
	font-family: monospace;
	text-align: center;
		
}


.moduleshome  h2 {
	
	font-size: 23px;
	font-style: oblique;
	font font-family: monospace;	
}
.moduleshome  h1 {
	
	font-size: 27px;
	font-style: oblique;
	font font-family: monospace;
	
	
}


.moduleshome a, {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	
	
}
	
	
.moduleshome img
	{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

	
	
.moduleshome h1{
	
	text-align: center;
   
}

#footer {
  list-style: none;
  margin: 0; 
  
  background: gold;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

#footer a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color:black;
  font-family: monospace;
  font-style: oblique;
	
}

#footer a{
	
 font-size:150%; 
	
	
}


#footer a:hover {
  background: darken(white, 2%);
}

@media all and (max-width: 1200px) {
  #footer {
    justify-content: space-around;
  }
}

@media all and (max-width: 800px) {
  #footer {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
 #footer {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  #footer a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
 #footer li:last-of-type a {
    border-bottom: none;
  }

}










